html {
    background-color: red;
    overflow-x: hidden;
}
.logo {
    width: 50vw;
    height: auto;
    display: block;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
}
.calavera {
    width: 50vw;
    height: auto;
    position: absolute;
    top: -10vh;
    right: -20vw;
    margin: 0 auto;
    z-index: -1;
}
.izquierda {
    left: -20vw;
    right: auto;
    transform: rotateY(180deg);
}
.seccion {
    width: 100%;
    height: auto;
    position: absolute;
    top: 100vh;
    left: 0;
    z-index: -2;
}
.flor {
    width: 50%;
    height: auto;
    position: absolute;
    top: 100vh;
    left: 0;
    z-index: -2;
}
.arriba {
    top: 110vh;
    left: -20%;
    transform: rotateX(10deg) rotateY(180deg);
}
.abajo {
    width: 40%!important;
    top: 150vh;
    left: 70%;
    rotate: 180deg;
}



.titulo {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 20vh;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    font-family: 'Winchester', sans-serif;
    font-size: 20vw;
    text-align: center;
    line-height: 20vh;
    z-index: 1;
    overflow: visible;
    background-color: rgb(255, 255, 255);
    text-shadow: 7px 7px 00px rgb(255, 255, 255);
}

.texto {
    position: absolute;
    top: 180vh;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    color: rgb(255, 255, 255);
    font-family: 'Monserrat', sans-serif;
    text-align: center;
    line-height: 20vh;
    z-index: 1;
    text-shadow: 2px 2px 00px rgb(0, 0, 0);
}
.agenda {
    position: absolute;
    top: 220vh;
    left: -100vw;
    width: 50vw;
    height: auto;
    z-index: 1;
}
.cita {
    position: absolute;
    top: 240vh;
}
.redsociales {
    position: absolute;
    top: 310vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
.redsocial {
    width: 5vw;
    height: auto;
    margin: 0 1vw;
}
.redes-texto {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    font-family: 'Monserrat', sans-serif;
    text-decoration: none;
}

@font-face {
    font-family: 'Winchester';
    src: url('fonts/Winchester\ Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Monserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@media screen and (max-width: 380px) {
    html, body {
        overflow-x: hidden;  /* Bloquea el scroll horizontal */
    }
    .logo {
        position: absolute;
        top: -5vh;
        width: 100vw;
    }
    .calavera {
        width: 10vw;
        top: -5vh;
        z-index: -1;
    }
    .izquierda {
        width: 150vw;
        left: -80vw;
        transform: rotateY(180deg);
    }
    .derecha {
        display: none;
    }
    .seccion {
        top: 20vh;
    }
    .flor {
        width: 70%;
        top: 80vh;
    }
    .arriba {
        left: 50%;
    }
    .abajo {
        display: none;
    }
    section {
        margin: 0 auto;
        width: 100%;
    }
    .texto {
        top: 60vh;
        font-size: 5vw;
    }
    .titulo {
        top: 40vh;
        font-size: 21vw;
    }
    .agenda {
        top: 100vh;
        width: 100vw;
        left: -50vw;
    }
    .cita {
        top: 110vh;
        left: 50%;
        transform: translateX(-50%);
        font-size: 15vw;
    }
    .redsociales {
        padding: 5vw;
        top: 140vh;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.185);
    }
    .redsocial {
        width: 15vw;
        height: auto;
    }
}
